<section id="description">
  <div class="container">
    <h2>What is brnrs.io?</h2> 
    <p>brnrs.io makes it easy for anyone to create shortened URLs that delete themselves after a certain number of click-throughs or a certain amount of time. Expired links are removed from our database and resolve to a <a href="https://brnrs.io/missing">placeholder page</a> on this site.</p>
  </div>
</section>
