<section id="highlights">
  <div class="container">
    <h3>How it works:</h3>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <span class="glyphicon feature-icon glyphicon-globe" aria-hidden="true"></span>
        <h3>Create</h3>
        <p>Create a new link by specifying the URL you want to direct to and it's expiration. Expiration can be a time, a number of click-throughs, or both.</p>
      </div>

      <div class="col-sm-4 col-xs-12">
        <span class="glyphicon feature-icon glyphicon-share" aria-hidden="true"></span>
        <h3>Share</h3>
        <p>Share your brnrs link the way you would any other. The only difference is you control how long the link is good for.</p>
      </div>

      <div class="col-sm-4 col-xs-12">
        <span class="glyphicon feature-icon glyphicon-wrench" aria-hidden="true"></span>
        <h3>Develop</h3>
        <p>Use our API to integrate brnrs into your own projects or to create links without using the website.</p>
      </div>
    </div>
</section>
