<h1 style="display: none">Missing</h1>
<h1>Link not found</h1>
<p>The link you tried to follow expired or never existed in the first place. Either way, it's not here.</p>

<a href="/">
    <button class="btn btn-lg missing-button">
      What's this all about?
    </button>
</a>
