<div class="row">
    <div class="brand">
      <p><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>brnrs.io</p>
    </div>
      <h2>Create anonymous, temporary urls in seconds</h2>
    <div id="submission-form-wrapper">
      <div id="link-submission-anchor"></div>
    </div>
</div>
