<div class="row">
  <div class="brand">
    <object class="logo-main" type="image/svg+xml" data="img/brnrsio1white.svg">
      This browser doesn't support SVG
    </object>
  </div>
      <p class="subheader">Create anonymous, temporary urls in seconds</p>
    <div id="submission-form-wrapper">
      <div id="link-submission-anchor"></div>
    </div>
</div>
