<div class="row">
  <div class="brand">
    <img class="logo-main" src="img/brnrsio1white.svg"/>
  </div>
      <p class="subheader">Create anonymous, temporary urls in seconds</p>
    <div id="submission-form-wrapper">
      <div id="link-submission-anchor"></div>
    </div>
</div>
