//Color Scheme
$primary:  #8E1F5E;
$primary-light: #982C69;
$primary-dark: #7E1651; 
$secondary: #204973;
$secondary-light: #275483;
$secondary-dark: #193F66;
$tertiary: #7AA524;
$tertiary-light: #8DBC2E;
$tertiary-dark: #6B931A;

//Typefaces
$primary-font: "Monsterrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

//Dimensions
$section-spacing: 40px;
$footer-height: 100px;

html, body {
  height: 100%
}

body {
  font: $primary-font;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 300;
}

.container {
  max-width: 955px;
}

#site-wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: $footer-height;
}


#header {
  background-color: $primary;
  #app-nav {
    top: 30px;
    background-color: $primary-dark;
    border: none;
    border-radius: 0;
    .navbar-brand {
      color: white;
    }
  }
  h1 {
    color: white;
    padding-top: 120px; 
    @media (max-width: 767px) {
      padding-top: 40px;
    }
  }
  #app-container {
    margin: 40px 0 40px 0;
    padding: 15px;
    border: 1px solid $secondary-dark;
    border-radius: 10px;
    background-color: $secondary-dark;
    box-shadow: 3px 3px 2px #333333;
    letter-spacing: 2px;
    input {
      border: none;
      background-color: $secondary-light;
      box-shadow: inset 0 5px -10px  #000000;
    }
    .button-container {
      text-align: center;
      button {
        box-shadow: 1px 1px 0 0 $tertiary-dark;
        border: 2px solid $tertiary-dark;
        font-weight: 600;
        background-color: $tertiary-light;
        margin: auto;
      }
    }
    @media (max-width: 767px) {
      margin: 40px 0 0 0;
      border-radius: 0;
      box-shadow: none;
    }
  }
}

#description {
  margin: $section-spacing 0 $section-spacing 0;
}


#highlights {
  margin: $section-spacing 0 $section-spacing 0;
  color: black;
  background-color: white;
  text-align: center;
  h3 {
    margin-bottom: 30px;
  }
  .feature-icon {
    font-size: 75px;
    color: $secondary;
  }
}

#footer {
  padding-top: $footer-height*.4;
  position: relative;
  text-align: center;
  margin-top: -($footer-height);
  height: $footer-height;
  clear: both;
  background-color: $secondary;
  p {
    color: white;
  }
}
